@page "/data/form"

<h3>Cool Form</h3>

<EditForm Model="@person" OnValidSubmit="HandleValidSubmit">
    <InputText @bind-Value="person.FirstName" />
    <InputText @bind-Value="person.LastName" />
    <button class="btn btn-primary" type="submit">Submit</button>
</EditForm>

@code {
    private PersonModel person = new PersonModel();

    private void HandleValidSubmit()
    {

    }
}
